/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
 background-image: url('images/E5CwLOxQSFimIXJurfpq_IMG_6424 (1).jpg');
 background-size:100% auto;
 }

#bigPanel {
  color: white;
  background-color: rgba(249, 249, 249, 0.30);
  margin-top: 70px;
  min-height: 400px;
  animation: fadeInFromNone 0.5s ease-out;
}

.font {
  font-family: 'Muli', sans-serif;
  font-weight: 200;
  text-shadow: 2px 2px 1px black;
}

.icon {
  font-size: 75px;
}

.divElement {
  margin-top: 25px;
}

.temperatureType {
  font-size: 25px;
  color: white;
  padding-bottom: 0px;
  margin-right: 20px;
}

.togglebutton label input[type=checkbox]:checked+.toggle:after {
    /* background-color: rgba(169, 170, 171, 0); */
    background-color: white;
}
.togglebutton label input[type=checkbox]:checked+.toggle {
    /* background-color: white; */
    background-color: rgba(80,80,80,4);
}

.form-control {
  color: white;
  font-size: 25px;
}

.form-group.is-focused .form-control{
  background-image: linear-gradient(rgba(0, 150, 136, 0),rgba(0, 150, 136, 0)),linear-gradient(#D2D2D2,#D2D2D2);
}

/*.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: 20px;
  }*/

  .material-icons {
    font-size: 50px;
    margin-left: 20px;

  }

  a, a:focus, a:hover {
      color: white;
  }
