body {
 background-image: url('images/photo-1451187580459-43490279c0fa.jpeg');
 background-size:100% auto;
}

#bigPanel {
  color: white;
  background-color: rgba(249, 249, 249, 0.44);
  margin-top: 70px;
}
